In [105]:
import numpy as np
import pandas as pd
import random

In [6]:
sim = pd.read_excel('Simulation/simulation.xlsx') 
sim.head()

,Unnamed: 0,date,Monitor ID,NO2 (ppb),NO2 (Plume AQI),VOC (ppb),VOC (Plume AQI),pm 1 (ug/m3),pm 1 (Plume AQI),pm 10 (ug/m3),pm 10 (Plume AQI),pm25 (ug/m3),pm 25 (Plume AQI),latitude,longitude
0,0,2022-01-01 00:00:00,13350,54,19,172,15,4,11,33,47,20,30,175.785777,133.538701
1,1,2022-01-01 01:00:00,13450,48,11,188,12,3,19,33,45,17,32,105.780560,159.955485
2,2,2022-01-01 02:00:00,13550,55,14,182,12,5,12,33,37,13,26,51.411645,116.602660
3,3,2022-01-01 03:00:00,13730,56,12,183,14,6,20,42,32,16,35,40.450791,121.607347
4,4,2022-01-01 04:00:00,13210,58,16,185,15,9,14,33,43,1,23,68.174186,17.898912

In [10]:
type(sim)

pandas.core.frame.DataFrame

In [13]:
sim = sim.iloc[: , 1:]

In [22]:
# sim.describe()

In [16]:
sim.nunique()

date                 5000
Monitor ID            101
NO2 (ppb)              23
NO2 (Plume AQI)        42
VOC (ppb)              37
VOC (Plume AQI)         8
pm 1 (ug/m3)           15
pm 1 (Plume AQI)       42
pm 10 (ug/m3)          43
pm 10 (Plume AQI)      28
pm25 (ug/m3)           40
pm 25 (Plume AQI)      43
latitude             5000
longitude            5000
dtype: int64

In [ ]:
# AQI Color
# Green 0-50
# Yellow 51-100
# Orange 101-150
# Red 151-200
# Purple 201-300
# Maroon >= 301

#### To check if there are AQI index smaller than 0, which is out of the range of AQI(0-500)

In [24]:
# NO2 (Plume AQI) 
sim['NO2 (Plume AQI)'].describe()

count    5000.00000
mean       12.45980
std         6.09385
min       -11.00000
25%         8.00000
50%        12.00000
75%        17.00000
max        32.00000
Name: NO2 (Plume AQI), dtype: float64

In [54]:
len(sim[sim['NO2 (Plume AQI)'] <= 0])

66

In [59]:
sim['VOC (Plume AQI)'].describe()

count    4942.000000
mean       13.491906
std         1.049588
min        10.000000
25%        13.000000
50%        14.000000
75%        14.000000
max        17.000000
Name: VOC (Plume AQI), dtype: float64

In [60]:
sim['pm 1 (Plume AQI)'].describe()

count    4942.000000
mean       16.556657
std         6.021140
min        -3.000000
25%        12.000000
50%        17.000000
75%        21.000000
max        37.000000
Name: pm 1 (Plume AQI), dtype: float64

In [61]:
len(sim[sim['pm 1 (Plume AQI)'] <= 0])

24

In [62]:
sim['pm 10 (Plume AQI)'].describe()

count    4942.000000
mean       40.463780
std         4.045657
min        27.000000
25%        38.000000
50%        41.000000
75%        43.000000
max        54.000000
Name: pm 10 (Plume AQI), dtype: float64

In [63]:
sim['pm 25 (Plume AQI)'].describe()

count    4942.000000
mean       25.491501
std         6.010063
min         4.000000
25%        22.000000
50%        25.000000
75%        30.000000
max        48.000000
Name: pm 25 (Plume AQI), dtype: float64

#### To remove rows which have negative AQI

In [77]:
df_no2 = sim[sim['NO2 (Plume AQI)'] <= 0].index
df_no2

Int64Index([   5,   11,   53,  141,  241,  251,  422,  834, 1028, 1178, 1301,
            1317, 1337, 1579, 1593, 1619, 1641, 1672, 1779, 1788, 1905, 1945,
            2015, 2042, 2048, 2056, 2063, 2205, 2470, 2529, 2608, 2638, 2645,
            2786, 2844, 2848, 2937, 2941, 3117, 3135, 3202, 3268, 3304, 3315,
            3347, 3404, 3571, 3603, 3633, 3645, 3813, 3909, 4059, 4093, 4178,
            4244, 4442, 4477, 4508, 4608, 4732, 4884, 4934, 4946, 4987, 4992],
           dtype='int64')

In [78]:
sim2 = sim.drop(labels=df_no2, axis=0)

In [79]:
sim2['NO2 (Plume AQI)'].describe()

count    4876.000000
mean       12.812961
std         5.738425
min         1.000000
25%         9.000000
50%        13.000000
75%        17.000000
max        32.000000
Name: NO2 (Plume AQI), dtype: float64

In [80]:
len(sim2[sim2['NO2 (Plume AQI)'] <= 0])

0

In [81]:
df_pm1 = sim[sim['pm 1 (Plume AQI)'] <= 0].index
df_pm1

Int64Index([  35,  100,  117,  173,  568,  643,  796, 1340, 1771, 2281, 2566,
            2655, 2742, 2997, 3081, 3378, 3629, 3696, 3914, 3933, 3997, 4168,
            4406, 4623],
           dtype='int64')

In [82]:
sim2 = sim.drop(labels=df_pm1, axis=0)

In [83]:
sim2['pm 1 (Plume AQI)'].describe()

count    4918.000000
mean       16.641318
std         5.911924
min         1.000000
25%        13.000000
50%        17.000000
75%        21.000000
max        37.000000
Name: pm 1 (Plume AQI), dtype: float64

In [84]:
len(sim2[sim2['pm 1 (Plume AQI)'] <= 0])

0

In [85]:
sim2.describe()

,Monitor ID,NO2 (ppb),NO2 (Plume AQI),VOC (ppb),VOC (Plume AQI),pm 1 (ug/m3),pm 1 (Plume AQI),pm 10 (ug/m3),pm 10 (Plume AQI),pm25 (ug/m3),pm 25 (Plume AQI),latitude,longitude
count,4918.000000,4918.000000,4918.000000,4918.000000,4918.000000,4918.000000,4918.000000,4918.000000,4918.000000,4918.000000,4918.000000,4918.000000,4918.000000
mean,13493.416023,52.453843,12.648028,179.495730,13.494307,6.431680,16.641318,36.526027,40.460553,12.453233,25.498373,100.052567,99.940357
std,287.976400,2.965568,5.884830,5.036362,1.050034,2.029603,5.911924,6.117954,4.047306,5.958175,6.015901,57.756022,57.618113
min,13000.000000,41.000000,0.000000,160.000000,10.000000,0.000000,1.000000,16.000000,27.000000,-9.000000,4.000000,0.026543,0.103863
25%,13250.000000,50.000000,8.000000,176.000000,13.000000,5.000000,13.000000,33.000000,38.000000,8.000000,22.000000,49.382712,50.100126
50%,13490.000000,52.000000,13.000000,180.000000,14.000000,6.000000,17.000000,37.000000,41.000000,12.000000,25.000000,100.294766,99.712585
75%,13740.000000,54.000000,17.000000,183.000000,14.000000,8.000000,21.000000,41.000000,43.000000,16.000000,30.000000,150.027497,149.455130
max,14000.000000,63.000000,32.000000,196.000000,17.000000,14.000000,37.000000,58.000000,54.000000,32.000000,48.000000,199.966726,199.960684

#### To check values in PPB

In [86]:
# NO2 ppb
# Primary and secondary NO2: 53 ppb
# Primary NO2: 100 ppb
sim2['NO2 (ppb)'].describe()

count    4918.000000
mean       52.453843
std         2.965568
min        41.000000
25%        50.000000
50%        52.000000
75%        54.000000
max        63.000000
Name: NO2 (ppb), dtype: float64

In [87]:
# VOC
# No standards found in links provided
# Formaldehyde: One of the most common VOCs – formaldehyde – 
#can be emitted from numerous sources, such as furniture, incense burning,
# and cooking. Note that its threshold limit value is 0.1 ppm TLV-TWA* and 0.3 ppm TLV-STEL**.
# 0.1 ppm = 100ppb
# 0.3 ppm = 300 ppb
sim2['VOC (ppb)'].describe()

count    4918.000000
mean      179.495730
std         5.036362
min       160.000000
25%       176.000000
50%       180.000000
75%       183.000000
max       196.000000
Name: VOC (ppb), dtype: float64

In [88]:
# pm 1 (ug/m3)
# No standards found
sim2['pm 1 (ug/m3)'].describe()

count    4918.000000
mean        6.431680
std         2.029603
min         0.000000
25%         5.000000
50%         6.000000
75%         8.000000
max        14.000000
Name: pm 1 (ug/m3), dtype: float64

In [90]:
# pm 10 (ug/m3)
# Primary and Secondary: 150 μg/m3
sim2['pm 10 (ug/m3)'].describe()

count    4918.000000
mean       36.526027
std         6.117954
min        16.000000
25%        33.000000
50%        37.000000
75%        41.000000
max        58.000000
Name: pm 10 (ug/m3), dtype: float64

In [91]:
# pm25 (ug/m3)
# Primary and Secondary: 35 μg/m3
sim2['pm25 (ug/m3)'].describe()

count    4918.000000
mean       12.453233
std         5.958175
min        -9.000000
25%         8.000000
50%        12.000000
75%        16.000000
max        32.000000
Name: pm25 (ug/m3), dtype: float64

In [95]:
len(sim2[sim2['pm25 (ug/m3)'] <= 0])

112

In [96]:
df_pm25 = sim2[sim2['pm25 (ug/m3)'] <= 0].index
df_pm25

Int64Index([  13,  158,  273,  289,  313,  375,  392,  401,  491,  558,
            ...
            4687, 4792, 4810, 4843, 4849, 4865, 4899, 4908, 4942, 4978],
           dtype='int64', length=112)

In [97]:
sim3 = sim2.drop(labels=df_pm25, axis=0)

In [98]:
len(sim3[sim3['pm25 (ug/m3)'] <= 0])

0

In [99]:
sim3.describe()

,Monitor ID,NO2 (ppb),NO2 (Plume AQI),VOC (ppb),VOC (Plume AQI),pm 1 (ug/m3),pm 1 (Plume AQI),pm 10 (ug/m3),pm 10 (Plume AQI),pm25 (ug/m3),pm 25 (Plume AQI),latitude,longitude
count,4806.000000,4806.000000,4806.000000,4806.000000,4806.000000,4806.000000,4806.000000,4806.000000,4806.000000,4806.000000,4806.000000,4806.000000,4806.000000
mean,13492.315855,52.453184,12.658344,179.508323,13.497295,6.429047,16.634415,36.532667,40.469621,12.772784,25.496879,100.071515,100.127527
std,288.082080,2.970089,5.890308,5.048056,1.049797,2.026839,5.907343,6.125812,4.047508,5.635880,6.021734,57.750904,57.716153
min,13000.000000,41.000000,0.000000,160.000000,10.000000,0.000000,1.000000,16.000000,27.000000,1.000000,4.000000,0.026543,0.103863
25%,13250.000000,50.000000,8.000000,176.000000,13.000000,5.000000,13.000000,33.000000,38.000000,9.000000,21.250000,49.382712,50.105715
50%,13490.000000,52.000000,13.000000,180.000000,14.000000,6.000000,17.000000,37.000000,41.000000,13.000000,25.000000,100.346798,100.005914
75%,13740.000000,54.000000,17.000000,183.000000,14.000000,8.000000,21.000000,41.000000,43.000000,17.000000,30.000000,150.014574,149.680388
max,14000.000000,63.000000,32.000000,196.000000,17.000000,14.000000,37.000000,58.000000,54.000000,32.000000,48.000000,199.966726,199.960684

In [107]:
sim3['latitude'].describe()

count    4806.000000
mean      100.071515
std        57.750904
min         0.026543
25%        49.382712
50%       100.346798
75%       150.014574
max       199.966726
Name: latitude, dtype: float64

In [108]:
sim3['longitude'].describe()

count    4806.000000
mean      100.127527
std        57.716153
min         0.103863
25%        50.105715
50%       100.005914
75%       149.680388
max       199.960684
Name: longitude, dtype: float64

#### Latitude and longitude

In [101]:
# longitude: 90-82W
# latitude: 41.5-48N
len(sim3[sim3['latitude'] < 82])

1982

In [102]:
len(sim3[sim3['latitude'] > 90])

2622

In [103]:
len(sim3[sim3['longitude'] < 41.5])

998

In [104]:
len(sim3[sim3['longitude'] < 48])

1159

In [109]:
#latitude: 41.852566 ~ 42.83393
#longitude: -84.8425 ~ -83.637391

#latitude: 42.227716 ~ 42.722701
#longitude: -83.723986 ~ -83.154239

In [117]:
len(sim3)

4806

* Latitude

In [143]:
lat_ran1 = np.random.uniform(low=41.8, high=42.8, size=400).tolist()

In [144]:
lat_ran2 = np.random.uniform(low=42.2, high=42.7, size=401).tolist()

In [148]:
lat_ran = lat_ran1 + lat_ran2 + lat_ran2 + lat_ran2 +lat_ran1 + lat_ran1 + lat_ran1 + lat_ran2 + lat_ran2 + lat_ran2 +lat_ran1 + lat_ran1
lat_ran = [round(num, 6) for num in lat_ran]
len(lat_ran)

4806

In [146]:
len(lat_ran)

4806

* Longitude

In [156]:
long_ran1 = np.random.uniform(low=-84.8425, high=-83.637391, size=400).tolist()

In [157]:
long_ran2 = np.random.uniform(low=-83.723986, high=-83.154239, size=401).tolist()

In [158]:
long_ran = long_ran1 + long_ran2 + long_ran2 + long_ran2 + long_ran1 + long_ran1 + long_ran1 + long_ran2 + long_ran2 + long_ran2 + long_ran1 + long_ran1
long_ran = [round(num, 6) for num in long_ran]
len(long_ran)

4806

* update latitudes and longitudes

In [159]:
sim3['latitude'] = lat_ran
sim3['longitude'] = long_ran

In [161]:
sim3.head()

,date,Monitor ID,NO2 (ppb),NO2 (Plume AQI),VOC (ppb),VOC (Plume AQI),pm 1 (ug/m3),pm 1 (Plume AQI),pm 10 (ug/m3),pm 10 (Plume AQI),pm25 (ug/m3),pm 25 (Plume AQI),latitude,longitude
0,2022-01-01 00:00:00,13350,54,19,172,15,4,11,33,47,20,30,42.379941,-83.751616
1,2022-01-01 01:00:00,13450,48,11,188,12,3,19,33,45,17,32,41.829074,-84.799743
2,2022-01-01 02:00:00,13550,55,14,182,12,5,12,33,37,13,26,42.131896,-84.821043
3,2022-01-01 03:00:00,13730,56,12,183,14,6,20,42,32,16,35,42.613375,-84.719528
4,2022-01-01 04:00:00,13210,58,16,185,15,9,14,33,43,1,23,42.714810,-84.436255

In [162]:
len(sim3)

4806

* Create CSV

In [172]:
from pathlib import Path  
filepath = Path('revised_sim.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
sim3.to_csv(filepath, index=False)

In [174]:
df = pd.read_csv('revised_sim.csv')
df.head()

,date,Monitor ID,NO2 (ppb),NO2 (Plume AQI),VOC (ppb),VOC (Plume AQI),pm 1 (ug/m3),pm 1 (Plume AQI),pm 10 (ug/m3),pm 10 (Plume AQI),pm25 (ug/m3),pm 25 (Plume AQI),latitude,longitude
0,2022-01-01 00:00:00,13350,54,19,172,15,4,11,33,47,20,30,42.379941,-83.751616
1,2022-01-01 01:00:00,13450,48,11,188,12,3,19,33,45,17,32,41.829074,-84.799743
2,2022-01-01 02:00:00,13550,55,14,182,12,5,12,33,37,13,26,42.131896,-84.821043
3,2022-01-01 03:00:00,13730,56,12,183,14,6,20,42,32,16,35,42.613375,-84.719528
4,2022-01-01 04:00:00,13210,58,16,185,15,9,14,33,43,1,23,42.714810,-84.436255